<h1>Hello!</h1>

<p>
    Here's the notification you've requested:
</p>
<ul>
    <li>sourceCurrency: {{ sourceCurrency }}</li>
    <li>targetCurrency: {{ targetCurrency }}</li>
    <li>sourceAmount: {{ sourceAmount }}</li>
    <li>targetAmount: {{ targetAmount }}</li>
</ul>